@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&family=Poppins&family=Roboto+Slab&family=Water+Brush&display=swap');

/* .App {
  background: linear-gradient(#42275a, #734b6d);
} */

.container {
  max-width: 600px;
  margin: auto;
  padding: 0 1rem;
  font-family: "Poppins", sans-serif;
  
}

h1 {
  margin-top: 1rem;
  text-align: center;
  color: #000;
  font-family: "Poppins", sans-serif;
}

.top {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

input {
  border: none;
  outline: none;
  width: 400px;
  padding: 0.5rem;
  border-bottom: 1px solid #000;
  font-family: "Poppins", sans-serif;
}

.add {
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 100px;
  font-family: "Poppins", sans-serif;
}

.add:hover{
  background: linear-gradient(#2193b0, #6dd5ed);
  color: #000;
  box-shadow: 5px 5px 5px 5px black;
  margin-top: 0.5px;
}

.todo {
  position: relative;
  margin-top: 1rem;
  background-color: #000;
  color: #fff;
  padding: 1.5rem 3rem;
  border-radius: 100px;
  font-family: "Poppins", sans-serif;
}

.todo:hover {
  background: linear-gradient(#2193b0, #6dd5ed);
  color: #000;
  box-shadow: 5px 5px 5px 5px black;
  margin-top: 0.5px;
}

.icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  display: flex;
  gap: 1rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.icon {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
